body {
  padding: 1vw;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-size: 12;
  width: 100%;
  background-color: #fffafa;
}

h1
{text-align: center;
  padding: 1vw;
  font-weight: medium;
  color: #494c45;

}


nav {
  text-align: center;
  padding: 1.5vw;
  margin-bottom: 2vw;
  border-top: double;
  border-bottom: double;
  border-width: thick;
  border-color: #494c45;
  background-color: #e6cfa6;
}

a {
  color: #494c45;
  font-size: 1.5vw;
  font-weight: bold;
}

h2 {
  padding: 1vw;
}

h3 {
  text-align: center;
  color: #494c45;
  padding: 1vw;
}

#details {
  padding: 2vw;
  margin: 1vw;
  text-align: center;
}


.column {
  float: left;
  width: 50%;
  padding: 5%;
  text-align: left;
}



.row {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5%;
  align-content: center;
}
.grid-item {
  border: none;
  padding: 5%;
  text-align: center;
  max-width: 100%;
  height: auto;
  background-color: #9fa193 ;
}

img {
  max-width: 100%;
  height: auto;
  text-align: center;

}

footer {
  text-align: center;
  padding: 1.5vw;
  background-color: #e6cfa6;
  border-top: double;
  border-width: thick;
  padding-top: 1vw;
  margin-top: 1vw;
  color: #494c45
  
}

.copyright {
  width: 50%;
  margin: auto;
}

.copyright_logos,
.copyright_text {
  display: inline;
}

.copyright_logo {
  width: 1vw;
  margin: 0.15vw;
}
